{% extends "base.html" %}
{% block title %}Página no encontrada.{% endblock %}

{% block content %}
<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="span10 offset1">
      <div class="hero-unit">
        <h1>404 - Not Found</h1>
        <p>La página a la que quieres acceder no existe.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}