<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
    <meta charset="utf-8">
    <title>Box Mania. {% block title %} {%endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <link href="assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
      {% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">BoxMania</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="index">Home</a></li>
              <li><a href="work">Query</a></li>
              <li><a href="history">History</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

  </body>
</html>
