{% extends "base.html" %}

{% block title %} Web tech.{% endblock %}

{% block content %}
<div class="container">
    <section>
        <aside>
            <div>
            	<h3>Motor de renderizado</h3>
            	<h4>Que es un renderizador ?</h4>
            	<p>
            		Un motor de renderizado es software que toma contenido marcado (como HTML, XML, archivos de imágenes, etc.) e información de formateo (como CSS, XSL, etc.) y luego muestra el contenido ya formateado en la pantalla de aplicaciones. El motor "pinta" en el área de contenido de una ventana, la cual es mostrada en un monitor o una impresora. Los motores de renderizado se usan típicamente en navegadores web, clientes de correo electrónico, u otras aplicaciones que deban mostrar (y editar) contenidos web.

            		Todos los navegadores web incluyen necesariamente algún tipo de motor de renderizado. Sin embargo, el término "motor de renderizado" solo alcanzó un uso popular cuando el proyecto Mozilla diseñó el motor de su navegador (Gecko) como un componente aparte del propio navegador. En otras palabras, el motor de Mozilla era reutilizable por otros navegadores diferentes, y mucha gente se empezó a referir a Gecko como un "motor de renderizado" en sí, en lugar de como una parte del navegador.

            		El término motor de renderizado también puede referirse a motores de renderizado de texto como Pango o Uniscribe los cuales hacen presentables a los textos plurilingües, teniendo en cuenta los textos bidireccionales, combinaciones de "caracteres básicos" con acentos, y otras complicaciones del texto plurilingüe.
		        </p>
        
        		<h3>Gecko (motor de renderizado)</h3>
        		<p>
    		        Gecko es un motor de renderizado libre escrito en C++ y originalmente desarrollado por Netscape. Actualmente su desarrollo es gestionado por la Fundación Mozilla y la Corporación Mozilla.

	                Gecko es una plataforma para aplicaciones multiplataforma, es decir: permite ejecutar aplicaciones sobre su motor que se sirvan de tecnologías como XUL, XBL, PNG, HTTP, POP3, SMTP, RDS, CSS virtualmente en cualquier sistema operativo.

	                Anteriormente Gecko fue conocido con los nombres Raptor y NGLayout.
	            </p>

                <h3>Soporte de estándares</h3>
                <p>
                    Gecko fue diseñado para soportar estándares de Internet libres. Algunos de los estándares que Gecko soporta son:
                    <br/>
		            <ul>
		                <li>HTML4 (soporte parcial para HTML5)</li>
		                <li>CSS Nivel 2.1 (soporte parcial para CSS 3)</li>
		                <li>JavaScript 1.8 (ECMAScript 3, y soporte parcial para ECMAScript 5), implementado en SpiderMonkey</li>
		                <li>DOM Nivel 1 y 2 (soporte parcial para DOM 3)</li>
		                <li>XML 1.0</li>
		                <li>XHTML 1.0</li>
		                <li>XSLT y XPath, implementado en TransforMiiX </li>
		                <li>MathML</li>
		                <li>XForms (a través de una extensión oficial)</li>
		                <li>RDF</li>
		            </ul>
		        </p>
        		<p><small>Gecko también soporta parcialmente SVG 1.1.2</small></p>

		        <h3>WebKit</h3>
		        <p><small>Apple Inc., Qt Software, Nokia, Adobe, Google, otros.</small></p>
		        <p>
		        	WebKit es una plataforma para aplicaciones que funciona como base para el navegador web Safari, Google Chrome, Opera, Epiphany, Maxthon, Midori, Qupzilla entre otros. Está basado originalmente en el motor de renderizado KHTML del navegador web del proyecto KDE, Konqueror.
					WebKit logra 100/100 en la prueba Acid3 desde el 26 de marzo de 2008
		        </p>

		        <h4>Características de la Aplicación</h4>
		        <p>
		        	La API de WebKit está desarrollada en Objective-C y posibilita interactuar con un servidor web para recuperar y renderizar páginas web, descargar archivos, y administrar plugins.<br/>
		        	Webkit incluye dos frameworks de más bajo nivel: WebCore, un analizador sintáctico y motor de renderizado de HTML basado en KHTML, y JavaScriptCore, un intérprete de JavaScript basado en KJS.<br/>
		        	Con los lanzamientos pre-alfa se esta incluyendo un depurador de Javascript llamado Drosera
		        </p>

		        <h3>KHTML</h3>
		        <p>
		            Konqueror, navegador web libre; usa el motor KHTML.<br/>
		            KHTML es el motor de renderizado HTML libre desarrollado para el proyecto KDE.<br/>
		            Fue creado para el navegador web de KDE, Konqueror. El motor fue más tarde adaptado en enero del 2003 por Apple para su navegador Safari, y la compañía devolvió todas las mejoras aplicadas sobre el código original, tal como pide la licencia. Otra compañía utilizando KHTML es YellowTAB, la cual comercializa una distribución de BeOS.<br/>
		            KHTML fue escrito en C++ y se encuentra liberado bajo la licencia LGPL.
		        </p>
		        <h4>KHTML soporta las siguientes normas:</h4>
		        <p>
		           <ul>
		                <li>HTML 4.01</li>
		                <li>CSS 1 : completo</li>
		                <li>CSS 2 : completo</li>
		                <li>CSS 3 : parcialmente</li>
		                <li>DOM : 1, 2 y parcialmente 3</li>
		                <li>ECMAScript-262/Javascript : 1.5</li>
		                <li>Plugins de Netscape</li>
		                <li>SVG : Soporte parcial (a través de KSVG)</li>
		                <li>Formatos gráficos : PNG, MNG, JPEG y GIF</li>
		            </ul>
		        </p>
    		</div>
    	</aside>
	</section>
</div>
{% endblock %}