{% extends "base.html" %}

{% block content %}
<div class="container">
    <section>
        <aside>
            <div>
                <h1>Box mania</h1>
                <p class="lead">Resultado de la practica 
                <dl>
                    <dt>VeriSign root-server A(198.41.0.4)</dt>
                    <dd>Esta ubicado en Dulles (Virginia, EEUU) Se encuentra preparado para IPv6: 2001:503:BA3E::2:30.</dd>
                    <dt>Instituto para la formacion cientifica root-server B(192.228.79.201)</dt>
                    <dd>Está situado en Marina del Rey (California). También está preparado para conexiones IPv6: 2001:478:65::53.
                    </dd>
                </dl>
                </p>

                <h3>Problema</h3>
                <p>
                <blockquote>
                Solucion del problemas propuestio.
                <a class="btn btn-info" href="http://jsfiddle.net/rolando/Fc9mM/">Problema propuesto. </a>  <br/>
                </blockquote>
                <a href="http://jsfiddle.net/baudi/dNApC/"><img src="assets/images/solution1.png" alt="Smiley face" height="60%" width="50%" class="img-polaroid"/></a> 
                </p>

                <h3>Problema propuesto.</h3>
                <p>        
                <a href="http://jsfiddle.net/baudi/dNAIpC/"><img src="assets/images/solution2.png" alt="" height="20%" width="20%" class="img-polaroid"/></a>                
                </p>
            </div>
        </aside>
    </section>
    <!--p class="text-center"><iframe style="width: 80%; height: 400px;" src="http://jsfiddle.net/baudi/dNApC/3/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe></p-->
</div>
{% endblock %}
