{% extends "base.html" %}

{% block title %} Web tech.{% endblock %}

{% block content %}

<div class="container">
    <div>
        <h3>Find three domain registrars.</h3>
        <p class="text-center">
            <ul>
                <li>Universo Online S/A (UOL) - 2009 - Brazil - .biz .com .info .name .net .org .pro</li>
                <li>Neubox Internet S.A. de C.V. - 2009 - Mexico  - .aero .asia .biz .cat .com .coop .info .jobs .mobi .museum .name .net .org .pro .tel .travel</li>
                <li>Virtucom Networks S.A. - 2009 - Argentina - .com .net </li>
                <li>Dattatec.com SRL    2009    Argentina - .asia .biz .com .info .mobi .name .net .org .pro .tel .xxx </li>
            </ul>
        </p>

        <h3>Find the registrar and expiration dates of 3 domain names.</h3>
        <p>
            <ul>
                <li>Dominio: genso.com.bo</li>
                <li>Fecha de registro: 2009-01-16</li>
                <li>Fecha de vencimiento: 2014-01-16</li>
            </ul>
            <ul>
                <li>Domain Name: JALASOFT.COM</li>
                <li>Record expires on 03-Oct-2018.</li>
                <li>Record created on 03-Oct-2001.</li>
            </ul>
            <ul>
                <li>Dominio: silas.com.bo</li>
                <li>Fecha de registro: 2012-08-24</li>
                <li>Fecha de vencimiento: 2013-08-24</li>
            </ul>
        </p>

        <h3>Find two DNS service providers.</h3>
        <p>
            <dl>
                <dt>VeriSign es el root-server A (198.41.0.4). </dt>
                <dd>Está ubicado en Dulles (Virginia, EEUU).</dd>
                <dd>Se encuentra preparado ya para conexiones con IPv6: 2001:503:BA3E::2:30.</dd>
                <br/>
                <dt>Instituto para la formación científica es el root-server B (192.228.79.201).</dt>
                <dd>Está situado en Marina del Rey (California).</dd> 
                <dd>También está preparado para conexiones IPv6: 2001:478:65::53.</dd>
            </dl>
        </p>

        <h3>Find three Cloud service providers.</h3>
        <p>
            <blockquote>
            <ul>
                <li><a href="http://www.rackspace.com/cloud/?id=3547">Rackspace</a></li>
                <li><a href="http://aws.amazon.com/">Amazon (AWS)</a></li>
                <li><a href="http://ichitect.com/Just-cloud">Just Cloud</a></li>
            </ul>
            </blockquote>
        </p>

        <h3>Compare the difference between three "GET" requests.</h3>
        <p class="text-info">
           Compare the difference between 3 "GET" requests to different sites in terms of response headers. Make a brief analysis about the differences.
        </p>

        <h3>Trace the route to three different websites.</h3>
        <p> TODAY</p>
    </div>
</div>
{% endblock %}
